<ion-header>
  <ion-toolbar color="lgtBlue">
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab top right edge *ngIf="isUser">
    <button ion-fab mini color="pinkDarken">
      <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
    </button>
    <ion-fab-list>
      <button ion-fab color="orgCol" (click)="editUserProfile()"><i class="fa fa-pencil-square-o bounce" title="Edit user details"></i></button>
      <button ion-fab color="faGold" (click)="disableUserProfile()"><i class="fa fa-trash-o fa-fw bounce" title="Disable profile"></i></button>
    </ion-fab-list>
  </ion-fab>
  <ion-card>
    <span ng-switch on="isProfilePic()">
            <img ng-switch-when="profilePic" [src]='userDetails.profilePicURL'>
             </span>
    <ion-card-content>
      <ion-card-title>
        {{ userDetails.name }}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="isJobSeeker">
      <ion-item>
      <ion-icon item-start><i class="fa fa-wrench" aria-hidden="true"></i></ion-icon>
      Jobs Adverts
      <button id="notification-button" ion-button small clear item-end (click)="userSkills()">
       <strong style="font-family:garamond; color:DarkTurquoise;"><i class="fa fa-plus-square bounce fa-lg"></i></strong>
       <ion-badge class="bounce" id="notifications-badge" color="danger">{{user.jobs}}</ion-badge>
    </button>
      <button ion-button small clear item-end (click)="editJobDetails()">
       <strong style="font-family:garamond; color:DarkOrange;"><i class="fa fa-pencil-square-o bounce fa-lg"></i></strong>
    </button>
    </ion-item>
    <ion-item>
      <ion-icon item-start><i class="fa fa-comments-o" aria-hidden="true"></i></ion-icon>
      Messages
      <ion-badge color="faGold" item-right>{{user.followers}}</ion-badge>
      <button ion-button small clear item-end (click)="viewMessages()">
       <strong style="font-family:garamond; color:DarkTurquoise;"><i class="fa fa-envelope-open-o bounce fa-lg" aria-hidden="true"></i></strong>
    </button>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="isSkilSeeker">
   <ion-item>
      <ion-icon item-start><i class="fa fa-list-ol" aria-hidden="true"></i></ion-icon>
      Skill List
      <button id="notification-button" ion-button small clear item-end (click)="userJobs()">
        <strong style="font-family:garamond; color:DarkTurquoise;"><i class="fa fa-plus-square bounce fa-lg"></i></strong>
         <ion-badge class="bounce" id="notifications-badge" color="danger">{{user.skills}}</ion-badge>
    </button>
      <button ion-button small clear item-end (click)="editSkillsDetails()">
       <strong style="font-family:garamond; color:DarkOrange;"><i class="fa fa-pencil-square-o bounce fa-lg"></i></strong>
    </button>
    </ion-item>
     <ion-item>
      <ion-icon item-start><i class="fa fa-comments-o" aria-hidden="true"></i></ion-icon>
      Messages
      <ion-badge color="faGold" item-right>{{user.followers}}</ion-badge>
      <button ion-button small clear item-end (click)="viewMessages()">
       <strong style="font-family:garamond; color:DarkTurquoise;"><i class="fa fa-envelope-open-o bounce fa-lg" aria-hidden="true"></i></strong>
    </button>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="isFBUser">
    <ion-item>
      <ion-icon item-start><i class="fa fa-list-ol" aria-hidden="true"></i></ion-icon>
      Skill List
      <button id="notification-button" ion-button small clear item-end (click)="userJobs()">
        <strong style="font-family:garamond; color:DarkTurquoise;"><i class="fa fa-plus-square bounce fa-lg"></i></strong>
         <ion-badge class="bounce" id="notifications-badge" color="danger">{{user.skills}}</ion-badge>
    </button>
      <button ion-button small clear item-end (click)="editSkillsDetails()">
       <strong style="font-family:garamond; color:DarkOrange;"><i class="fa fa-pencil-square-o bounce fa-lg"></i></strong>
    </button>
    </ion-item>
    <ion-item>
      <ion-icon item-start><i class="fa fa-wrench" aria-hidden="true"></i></ion-icon>
      Jobs Adverts
      <button id="notification-button" ion-button small clear item-end (click)="userSkills()">
       <strong style="font-family:garamond; color:DarkTurquoise;"><i class="fa fa-plus-square bounce fa-lg"></i></strong>
       <ion-badge class="bounce" id="notifications-badge" color="danger">{{user.jobs}}</ion-badge>
    </button>
      <button ion-button small clear item-end (click)="editJobDetails()">
       <strong style="font-family:garamond; color:DarkOrange;"><i class="fa fa-pencil-square-o bounce fa-lg"></i></strong>
    </button>
    </ion-item>

    <ion-item>
      <ion-icon item-start><i class="fa fa-comments-o" aria-hidden="true"></i></ion-icon>
      Messages
      <ion-badge color="faGold" item-right>{{user.followers}}</ion-badge>
      <button ion-button small clear item-end (click)="viewMessages()">
       <strong style="font-family:garamond; color:DarkTurquoise;"><i class="fa fa-envelope-open-o bounce fa-lg" aria-hidden="true"></i></strong>
    </button>
    </ion-item>
  </ion-list>
</ion-content>